body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 500px;
  height: 80px;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.question--header {
  font-weight: bold;
  grid-column: span 4;
  justify-self: flex-start;
}

.question--button {
  border-radius: 8px;
  height: 25px;
  width: 90px;
  border: 2px solid rgba(77, 91, 158, 1);
  background-color: transparent;
  font-size: 10px;
}