body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 550px;
  height: 100px;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.question--header {
  font-weight: bold;
  grid-column: span 4;
  justify-self: flex-start;
}

.question--button {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  border: 2px solid rgba(77, 91, 158, 1);
  background-color: white;
  font-size: 11px;
  font-weight: bold;
  transition-property: background-color;
  transition: 0.2s;
}

.check--button {
  align-self: center;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  border: 2px solid rgba(77, 91, 158, 1);
  background-color: rgba(77, 91, 158, 1);
  color: white;
  font-size: 12px;
  font-weight: bold;
}
